<% layout('layout') %>
<!-- <link href="../public/styles/bootstrap.css" rel="stylesheet" /> -->
<div class="m-auto pe-auto w-100">
  <img class="m-auto d-block" style="height: 80vh" src="../public/src/images/404.jpg" />
</div>
