<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>TradeMap <%= title %></title>
    <link
      rel="icon"
      type="image/x-icon"
      class="rounded-circle"
      href="/public/src/logo/trademap-favicon.png"
    />

    <!-- JQuery -->
    <script src="../public/src/jquery-3.6.1.js"></script>
    <script src="../public/src/easy-autocomplete/jquery.easy-autocomplete.js"></script>
    <link rel="stylesheet" href="../public/src/easy-autocomplete/easy-autocomplete.css" />
    <link rel="stylesheet" href="../public/src/easy-autocomplete/easy-autocomplete.themes.css" />
    <!-- // JQuery -->

    <!-- CSS (bootstrap & styles) -->
    <link href="../public/styles/bootstrap.css" rel="stylesheet" />
    <script src="../public/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <!-- // bootstrap -->

    <!-- Here map -->
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script type="module" src="https://js.api.here.com/v3/3.1/mapsjs.bundle.js"></script>
    <!-- // Here map -->

    <!--  Leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
      integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
      integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
      crossorigin=""
    ></script>
    <!-- <link rel="stylesheet" href="../public/src/leaflet/leaflet.css" />
    <script src="../public/src/leaflet/leaflet.js"></script> -->

    <link rel="stylesheet" href="../public/src/markercluster/MarkerCluster.Default.css" />
    <script src="../public/src/markercluster/leaflet.markercluster.js"></script>

    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/@maplibre/maplibre-gl-leaflet@0.0.17/leaflet-maplibre-gl.js"></script>

    <!-- // Leaflet -->
    <script></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/gh/aazuspan/leaflet-feature-legend/src/feature-legend.js"></script>
    <link
      href="https://cdn.jsdelivr.net/gh/aazuspan/leaflet-feature-legend/src/feature-legend.css"
      rel="stylesheet"
    />

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/9bf8bdd21e.js" crossorigin="anonymous"></script>

    <!-- validator -->

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  </head>
  <body>
    <%-partial('partial/header')%>
    <!--  -->
    <%-body %>
    <!--  -->
    <%-partial('partial/footer')%>
  </body>
</html>
