<% layout('layout') %>
<!-- 使用vscode 插件 HTML CSS support 以下路徑去抓css -->
<!-- <link href="../public/styles/bootstrap.css" rel="stylesheet" /> -->
<div class="container">
  <div class="row" style="height: 800px">
    <div class="col-6 border">
      <div>商品列表</div>

      <ul class="list-group" id="order-list">
        <!-- <li class="list-group-item">
          <div class="title">macbook</div>
          <div class="place">忠孝新生</div>
          <div class="row">
            <div class="price-title col-3">商品售價</div>
            <div class="price text-left col">100</div>
            <div class="time col-5">2022-11-07 21:00:00</div>
            <div class="status col-2 text-right">販售中</div>
          </div>
        </li> -->
      </ul>
    </div>
    <div class="col-6 border" style="height: 800px">
      <div>商品細節</div>
      <div id="product-page"></div>

      <!-- <iframe id="product-page" src="/product_details" width="100%" height="100%"></iframe> -->
    </div>
  </div>
</div>
<script src="../public/js/order.js"></script>
