<% layout('layout') %>
<!-- 使用vscode 插件 HTML CSS support 以下路徑去抓css -->
<!-- <link href="../public/styles/bootstrap.css" rel="stylesheet" /> -->

<div class="container">
  <div class="align-items-center">
    <form name="form" enctype="multipart/form-data" id="form-summit">
      <div>
        <label>userId： <input name="userId" id="userId" type="text" /></label>
      </div>
      <div>
        <label>商品名稱： <input name="title" id="title" type="text" /></label>
      </div>
      <div>
        <label
          >商品關鍵字：
          <input name="tags" type="text" />
          <input name="tags" type="text" />
          <input name="tags" type="text"
        /></label>
      </div>

      <div>
        <label>商品價錢： <input name="price" id="price" type="text" /></label>
      </div>
      <div>
        <label
          >商品描述： <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </label>
      </div>
      <div>
        <label>交易時間：<input name="time" id="time" type="datetime-local" /></label>
      </div>
      <div>
        <label
          >地點：
          <div id="place-select"></div
        ></label>
        <div class="position-relative" style="z-index: 10000">
          <input name="place" id="place" />
          <input name="place-result" id="place-result" type="hidden" />
        </div>
        <div id="map" style="width: 100%; height: 400px"></div>
      </div>
      <div>
        <label
          >商品照片：<input name="images" id="images" type="file" multiple accept="image/*"
        /></label>
      </div>

      <div>
        <button type="submit" id="btn-submit">確定送出商品</button>
      </div>
    </form>
  </div>
</div>
<script
  id="map-script"
  type="module"
  src="../public/js/product.js"
  HERE_API_KEY="<%= HERE_API_KEY%>"
></script>
