<% layout('layout') %>
<link rel="stylesheet" href="../public/styles/product_details.css" />

<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="http://placekitten.com/400/252" />
            </div>
            <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/200/126" /></div>
            <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
            <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active">
              <a data-target="#pic-1" data-toggle="tab"
                ><img src="http://placekitten.com/400/252"
              /></a>
            </li>
            <li>
              <a data-target="#pic-2" data-toggle="tab"
                ><img src="http://placekitten.com/200/126"
              /></a>
            </li>
            <li>
              <a data-target="#pic-3" data-toggle="tab"
                ><img src="http://placekitten.com/200/126"
              /></a>
            </li>
            <li>
              <a data-target="#pic-4" data-toggle="tab"
                ><img src="http://placekitten.com/200/126"
              /></a>
            </li>
            <li>
              <a data-target="#pic-5" data-toggle="tab"
                ><img src="http://placekitten.com/200/126"
              /></a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
          <h3 class="product-title">iPhone12 Pro 128G 電池88</h3>

          <h4 class="price">價錢: <span>NT$16,000</span></h4>
          <div>面交地點: <span>台北車站</span></div>
          <div>詳細地點: <span>台灣100台北市中正區Beiping West Road3號台北車站</span></div>
          <div>面交時間: <span>2022-11-11T07:46:00.000Z</span></div>
          <br />
          <p id="product-description" class="product-description">
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
            台中市面交 全配 外觀漂亮 僅僅充電5次 使用次數不超過10次 圖上看到的 全都附贈！！！
          </p>

          <!-- <h5 class="sizes">
            sizes:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="colors">
            colors:
            <span
              class="color orange not-available"
              data-toggle="tooltip"
              title="Not In store"
            ></span>
            <span class="color green"></span>
            <span class="color blue"></span>
          </h5> -->
          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../public/js/product_detais.js"></script>
