<% layout('layout') %>
<!-- <link href="../public/styles/bootstrap.css" rel="stylesheet" /> -->
<!-- <link href="../public/styles/styles.css" rel="stylesheet" /> -->

<div class="container mt-5">
  <div class="form-area">
    <form>
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-group">
            <label class="tm-label" for="subject">商品關鍵字</label>
            <button type="button" id="btn-add-tags" class="btn tm-btn" style="border-radius: 20px">
              新增
            </button>
            <div id="tags-insert-body" class="row">
              <div class="col-3 tm-tags-item">
                <input type="text" class="form-control mb-2 tm-input" name="tags" />
              </div>

              <div class="col-3 tm-tags-item">
                <input type="text" class="form-control mb-2 tm-input" name="tags" />
              </div>
              <div class="col-3 tm-tags-item">
                <input type="text" class="form-control mb-2 tm-input" name="tags" />
              </div>
              <div class="col-3 tm-tags-item">
                <input type="text" class="form-control mb-2 tm-input" name="tags" />
              </div>
            </div>
          </div>
          <div class="mb-4">
            <div class="form-group">
              <label class="tm-label" for="#">地點</label>
              <input name="place" id="place" class="form-control tm-input" />
              <input id="place-result" name="place-result" type="hidden" />
              <div id="place-select"></div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" id="btn-submit" class="btn tm-btn">確定送出商品</button>
            <div class="submitting"></div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div id="map" class="w-100 h-100"></div>
        </div>
      </div>
    </form>
  </div>

  <div class="border" style="height: 700px; overflow-y: scroll">
    <div class="container">
      <div id="reserve-area" class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-2">
        <div class="tm-tag-item col-3 mt-2" hidden>
          <div class="tm-card">
            <div class="card-body radius-20">
              <div class="d-flex flex-column">
                <p class="mb-0 text-secondary">商品關鍵字</p>
                <div class="produtct-tag my-1 tm-font h2">Tag</div>
                <div class="produtct-place my-1 tm-font h6">PlacePlacePlacePlacePlace</div>
                <button tagId="1" class="produtct-tag-id tm-btn reserve-cancel-btn mb-0">
                  取消
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  id="map-script"
  type="module"
  src="../public/js/map.js"
  MAPTILER_API_KEY="<%= MAPTILER_API_KEY%>"
  HERE_API_KEY="<%= HERE_API_KEY%>"
></script>
<script src="../public/js/reserve.js"></script>
