<% layout('layout') %>
<!-- <link href="../public/styles/bootstrap.css" rel="stylesheet" /> -->

<div class="container">
  <form name="form" enctype="multipart/form-data" id="form-summit">
    <div>
      <label>userId： <input name="userId" id="userId" type="text" /></label>
    </div>
    <div>
      <label>商品名稱： <input name="title" id="title" type="text" /></label>
    </div>
    <div>
      <label
        >商品關鍵字：
        <input name="tags" type="text" />
        <input name="tags" type="text" />
        <input name="tags" type="text"
      /></label>
    </div>

    <div>
      <button type="submit" id="btn-submit">確定送出商品</button>
    </div>
  </form>
</div>
