<footer class="text-muted bg-dark">
  <div class="container py-3">
    <p class="float-right">
      <a href="/">回首頁</a>
    </p>
    <p>2022 &copy;</p>
    <p>
      <a href="/about">關於我們</a>
      <a href="/product">產品資訊</a>
    </p>
  </div>
</footer>
