<!-- <link href="../../public/styles/bootstrap.css" rel="stylesheet" /> -->
<!-- <link href="../../public/styles/styles.css" rel="stylesheet" /> -->
<header>
  <nav class="tm-nav navbar navbar-expand-md navbar-light text-black-50 p-0 m-0">
    <div class="container-xxl">
      <a class="navbar-brand ms-5" href="/">
        <img src="../../public/src/trademap.png" width="100%" height="60px"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a id="index-page" class="nav-link h5" href="/">首頁</a>
          </li>
          <li class="nav-item">
            <a id="suggest-page" class="nav-link h5" href="/suggest">商品推薦</a>
          </li>

          <li class="nav-item">
            <a id="product-page" class="nav-link h5" href="/product">商品上傳</a>
          </li>
          <li class="nav-item">
            <a id="order-page" class="nav-link h5" href="/order">訂單管理</a>
          </li>
          <li class="nav-item">
            <a id="message-page" class="nav-link h5" href="/message">訊息</a>
          </li>

          <li class="nav-item">
            <a id="reserve-page" class="nav-link h5" href="/reserve">商品預約</a>
          </li>
        </ul>

        <div class="navbar-nav ms-auto me-5 mb-lg-0">
          <div class="me-2"></div>
          <div class="nav-link fw-bold h4" style="color: black"></div>

          <section id="tm-profile-box" class="nav-item dropdown" hidden>
            <a
              class="nav-link nav-profile d-flex"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><img
                id="image-insert"
                class="rounded-circle me-3"
                alt="Profile"
                width="40"
                height="40" />
              <div id="name-insert" class="d-md-block tm-font m-auto me-3 h4"></div>
              <div
                id="role-insert"
                class="d-none d-md-block dropdown-toggle tm-main-color fw-bold m-auto h6"
              ></div
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6 class="text-center h5 fw-bold"></h6>
                <span></span>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="/profile"
                  ><i class="bi bi-person"></i><span>個人資訊</span></a
                >
              </li> -->
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  id="logout-btn"
                  style="cursor: pointer"
                  onclick="signOut()"
                  ><i class="bi bi-box-arrow-right"></i><span>登出</span></a
                >
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  (async () => {
    const authentication = await localStorage.getItem('Authorization');
    // 若無token就不做任何call api驗證
    if (authentication == null) {
      return;
    }
    // 有token，就call api驗證
    try {
      const params = {
        headers: { 'content-type': 'application/json', authorization: authentication },
      };
      const response = await axios.get(`/api/1.0/users`, params);
      const userProfile = response.data;
      console.log(userProfile);

      // 存userId在localStorage
      localStorage.setItem('userId', userProfile.id);

      let role;
      if (userProfile['role_id'] === 2) {
        role = '金級會員';
      } else {
        role = '銀級會員';
      }
      $('#tm-profile-box').removeAttr('hidden');
      $('#image-insert').attr('src', `${userProfile.photo}`);
      $('#name-insert').html(userProfile.name);
      $('#role-insert').html(role);

      $('.dropdown-header').children('h6').html(`${userProfile.name}`);
      $('.dropdown-header').children('span').html(`${userProfile.email}`);
    } catch (err) {
      console.log(err);
    }
  })();

  async function signOut() {
    localStorage.removeItem('Authorization');
    await Swal.fire({
      icon: 'success',
      title: '已登出',
    });
    location.href = '/profile';
  }
</script>
