<!-- <link href="../../public/styles/bootstrap.css" rel="stylesheet" /> -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-5" href="/"> TradeMap</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/product">Product Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/message">Message</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/reserve">Reserve</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Test
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/test">Test</a>
            <a class="dropdown-item" href="/message_demo">Message_Demo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/api/1.0/products/details?id=1"
              >/api/1.0/products/details?id=1</a
            >
            <a class="dropdown-item" href="/product_details">Product_details(default: ?id=1)</a>
          </div>
        </li>
      </ul>

      <div class="navbar-nav ms-auto me-5 mb-lg-0">
        <div class="me-2" id="image-insert"></div>
        <div class="me-5" id="name-insert" style="color: wheat"></div>
        <a id="signOut-insert" class="nav-link text-light" href="#" onclick="signOut()"></a>

        <a class="nav-link text-light" href="/profile">Profile</a>
      </div>
    </div>
  </nav>
</header>

<script>
  (async () => {
    const authentication = await localStorage.getItem('Authorization');
    // 若無token就不做任何call api驗證
    if (authentication == null) {
      return;
    }
    // 有token，就call api驗證
    try {
      const params = {
        headers: { 'content-type': 'application/json', authorization: authentication },
      };
      const response = await axios.get(`/api/1.0/users`, params);
      const userProfile = response.data;

      $('#image-insert').html(
        `<img src= ${userProfile.photo} class="rounded-circle mr-1" width="40" height="40"/>`
      );
      $('#name-insert').html(`${userProfile.name}`);
      $('#signOut-insert').html(`Sign Out`);
    } catch (err) {
      console.log(err);
    }
  })();

  async function signOut() {
    localStorage.removeItem('Authorization');
    await Swal.fire({
      icon: 'success',
      title: '已登出',
    });
    location.href = '/profile';
  }
</script>
